Package: com.jsand.ApolloOne
Name: Apollo
Version: 1.1
Section: Apollo
Depends: com.anemonetheming.anemone
Architecture: iphoneos-arm
Description: Apollo One
Author: JSAND <nbs@rocketdev.co>
Maintainer: JSAND <nbs@rocketdev.co>
