Package: com.jsand.ApolloOne
Name: Apollo
Version: 1.2
Section: Apollo
Depends: com.anemonetheming.anemone, mobilesubstrate
Architecture: iphoneos-arm
Description: Apollo One
Author: JSAND <nbs@rocketdev.co>
Maintainer: JSAND <nbs@rocketdev.co>
